{{!-- start footer --}}
<footer class="footer d-flex flex-column">

  {{!-- start quick-access links --}}
  <div class="quick-access pt-5 pb-4">
    <div class="container-lg row mx-auto">
      <div class="access-box info-box col-6 col-sm-3">
        <h5 class="box-heading m-0">المعلومات</h5>
        <hr class="border-0 mt-1">
        <ul class="access-links list-unstyled p-0 m-0">
          <li class="access-item">
            <a href="/ar" class="access-link">حولنا</a>
          </li>
          <li class="access-item">
            <a href="/ar" class="access-link">خدمة العملاء</a>
          </li>
          <li class="access-item">
            <a href="/ar" class="access-link">سياسة الخصوصية</a>
          </li>
          <li class="access-item">
            <a href="/ar" class="access-link">تواصل</a>
          </li>
        </ul>
      </div>
      <div class="access-box why-box col-6 col-sm-3">
        <h5 class="box-heading m-0">لماذا نحن</h5>
        <hr class="border-0 mt-1">
        <ul class="access-links list-unstyled p-0 m-0">
          <li class="access-item">
            <a href="/ar" class="access-link">حولنا</a>
          </li>
          <li class="access-item">
            <a href="/ar" class="access-link">التوصيل والإسترجاع</a>
          </li>
        </ul>
      </div>
      <div class="access-box account-box col-6 col-sm-3">
        <h5 class="box-heading m-0 text-nowrap">حسابي الشخصي</h5>
        <hr class="border-0 mt-1">
        <ul class="access-links list-unstyled p-0 m-0">
          <li class="access-item">
            <a href="/ar" class="access-link">سجل الدخول</a>
          </li>
          <li class="access-item">
            <a href="/ar" class="access-link">عربة التسوق</a>
          </li>
          <li class="access-item">
            <a href="/ar" class="access-link">قائمة المفضلة</a>
          </li>
          <li class="access-item">
            <a href="/ar" class="access-link">مساعدة</a>
          </li>
        </ul>
      </div>
      <div class="access-box contact-box col-6 col-sm-3">
        <h5 class="box-heading m-0">تواصل</h5>
        <hr class="border-0 mt-1">
        <ul class="access-links list-unstyled p-0 m-0">
          <li class="access-item">
            <a href="tel:+201170112482" class="access-link text-nowrap">
              <i class="fa-solid fa-mobile-screen-button"></i>
              <span class="phone-number">+20 1170112482</span>
            </a>
          </li>
          <li class="access-item">
            <a href="mailto:company@gmail.com" class="access-link text-lowercase text-nowrap">
              <i class="fa-solid fa-envelope"></i>
              <span class="e-mail">company@gmail.com</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{!-- end quick-access links --}}

  {{!-- start pay ways and social media access --}}
  <div class="accessability">
    <div class="container-lg row mx-auto">
      <div class="pay-access col-md-6 d-flex align-items-center">
        <h6 class="pay-heading m-0 fw-normal">
          <a href="/ar" class="text-nowrap">نقبل منك</a>
        </h6>
        <ul class="pay-ways list-unstyled d-flex align-items-center m-0 p-0">
          <li class="pay-item">
            <a href="/ar" class="pay-link">
              <img src="/images/paypal.png" alt="paypal">
            </a>
          </li>
          <li class="pay-item">
            <a href="/ar" class="pay-link">
              <img src="/images/visa.png" alt="visa">
            </a>
          </li>
          <li class="pay-item">
            <a href="/ar" class="pay-link">
              <img src="/images/mastercard.png" alt="mastercard">
            </a>
          </li>
        </ul>
      </div>
      <div class="social-access col-md-6 d-flex align-items-center">
        <h6 class="social-heading m-0 fw-normal">
          <a href="/ar" class="text-nowrap">تابعنا على</a>
        </h6>
        <ul class="social-accounts list-unstyled d-flex align-items-center m-0 p-0">
          <li class="pay-item">
            <a href="/ar" class="social-link">
              <img src="/images/facebook.png" alt="facebook">
            </a>
          </li>
          <li class="pay-item">
            <a href="/ar" class="social-link">
              <img src="/images/gmail.png" alt="gmail">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{!-- end pay ways and social media access --}}

  {{!-- start copyright --}}
  <div class="license text-center">
    <p class="copyright m-0">&copy;حقوق الملكية محفوظة ل: Albayie&trade;</p>
  </div>
  {{!-- end copyright --}}
</footer>
{{!-- end footer --}}