{{!-- start header (control-bar) --}}
<header class="control-nav pb-1">
  <div class="container-xxl">
    <div class="nav-style-between">
      <ul class="nav pe-0">
        <li class="nav-item">
          <a class="nav-link {{#if (compare path 'ar')}} active {{/if}}" href="/ar">
            <i class="fa-solid fa-house"></i>
            الصفحة الرئيسية
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (compare path 'ar/account')}} active {{/if}}" href="/ar/account">
            <i class="fa-solid fa-user"></i>
            حسابي الشخصي
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (compare path 'ar/cart')}} active {{/if}}" href="/ar/cart">
            <i class="fa-solid fa-cart-shopping"></i>
            عربة التسوق
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (compare path 'ar/checkout')}} active {{/if}}" href="/ar/checkout">
            <i class="fa-regular fa-square-check"></i>
            الدفع
          </a>
        </li>
      </ul>
      <div class="dropdown">
        <button class="btn border-0 dropdown-toggle bg-white d-flex align-items-center" type="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/images/egypt.svg" alt="arabic" style="width: 20px;">
          <span class="language text-capitalize">عربي</span>
          <span class="arrow-down"><i class="fa-solid fa-chevron-down"></i></span>
        </button>
        <ul class="dropdown-menu">
          <li><a id="ar" class="dropdown-item d-flex align-items-center" href="{{arLink}}">
              <img src="/images/egypt.svg" alt="arabic" style="width: 20px;">
              <span class="text-capitalize">عربي</span>
            </a></li>
          <li><a id="en" class="dropdown-item d-flex align-items-center" href="{{enLink}}">
              <img src="/images/united.svg" alt="english" style="width: 20px;">
              <span class="text-capitalize">إنجليزي</span>
            </a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
{{!-- end header (control-bar) --}}

{{!-- start logo bar and registration --}}
<nav class="navbar">
  <div class="container-xxl">
    <a class="navbar-brand m-0 py-0" href="/">
      <img class="logo-img" src="/images/logo.png" alt="albayie-logo">
    </a>
    <div class="navbar-options d-flex align-items-center">
      <p class="registration mb-0 ms-3">

        {{!-- toggle between login / create account and logout --}}
        {{#if data.isLogin}}
        <a href="/ar/logout" class="logout">سجل الخروج</a>
        {{else}}
        <a href="/ar/login" class="login">سجل الدخول</a>
        <span>أو</span>
        <a href="/ar/register" class="register">انشئ حساب</a>
        {{/if}}

      </p>
      <div class="badges d-flex align-items-center">
        <div class="wish-list">
          <button type="button" class="btn position-relative">
            <i class="fa-solid fa-pen-to-square"></i>
            <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill border border-2">0</span>
          </button>
        </div>
        <div class="cart">
          <button type="button" class="btn position-relative">
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill border border-2">0</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
{{!-- end logo bar and registration --}}

{{!-- start utilities / product bar --}}
<nav class="navbar navbar-expand utilities py-1">
  <div class="container-xxl">
    <div class="collapse navbar-collapse" id="">
      <ul class="navbar-nav ms-auto p-0">
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="/">هواتف ذكية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/">حاسوب</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="/">لاب تب</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">إكسسوارات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">شبكات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="/">سوفت وير</a>
        </li>
      </ul>
      <form class="d-flex search" role="search" method="get">
        <input class="form-control" type="search" placeholder="ابحث هنا" aria-label="Search">
        <button class="btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
{{!-- end utilities / product bar --}}