{{!-- start header-sm --}}
<header class="navbar py-0 header-sm">
  <div class="container-fluid">
    <a class="navbar-brand m-0" href="/">
      <img class="logo-img" src="/images/logo_white.png" alt="albayie-logo">
    </a>
    <div class="navbar-options d-flex align-items-center">
      <div class="badges d-flex align-items-center">
        <div class="wish-list">
          <button type="button" class="btn position-relative">
            <i class="fa-solid fa-pen-to-square"></i>
            <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill border border-2">0</span>
          </button>
        </div>
        <div class="cart">
          <button type="button" class="btn position-relative">
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill border border-2">0</span>
          </button>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse toggle-sidebar" id="navbarNav">
      <div class="sidebar-header">
        <div id="dropdown-lang" class="dropdown">
          <button class="btn border-0 dropdown-toggle bg-white d-flex align-items-center" type="button"
            data-bs-toggle="static" aria-expanded="false">
            <img src="/images/egypt.svg" alt="arabic" style="width: 20px;">
            <span class="language text-capitalize mx-3">عربي</span>
            <span class="arrow-down"><i class="fa-solid fa-chevron-down"></i></span>
          </button>
          <ul id="dropdown-menu" class="dropdown-menu">
            <li><a id="ar" class="dropdown-item d-flex align-items-center" href="/ar">
                <img src="/images/egypt.svg" alt="arabic" style="width: 20px;">
                <span class="text-capitalize mx-2">عربي</span>
              </a></li>
            <li><a id="en" class="dropdown-item d-flex align-items-center" href="/en">
                <img src="/images/united.svg" alt="english" style="width: 20px;">
                <span class="text-capitalize mx-2">إنجليزي</span>
              </a></li>
          </ul>
        </div>
        <h1 class="site-heading">albayie</h1>
      </div>
      <ul class="navbar-nav p-0">
        <li class="nav-item">
          <a class="nav-link p-2 {{#if (compare path 'ar')}} active {{/if}}" href="/ar">
            <i class="fa-solid fa-house"></i>
            الصفحة الرئيسية
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 {{#if (compare path 'ar/account')}} active {{/if}}" href="/ar/account">
            <i class="fa-solid fa-user"></i>
            حسابي الشخصي
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 {{#if (compare path 'ar/cart')}} active {{/if}}" href="/ar/cart">
            <i class="fa-solid fa-cart-shopping"></i>
            عربة التسوق
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 {{#if (compare path 'ar/checkout')}} active {{/if}}" href="/ar/checkout">
            <i class="fa-regular fa-square-check"></i>
            الدفع
          </a>
        </li>
      </ul>
      <p class="registration">

        {{!-- toggle between login / create account and logout --}}
        {{#if isLogin}}
        <a href="/ar/logout" class="logout">سجل الخروج</a>
        {{else}}
        <a href="/ar/login" class="login">سجل الدخول</a>
        <span>أو</span>
        <a href="/ar/register" class="register">انشئ حساب</a>
        {{/if}}

      </p>
    </div>
  </div>
</header>
{{!-- end header-sm --}}

{{!-- start search box --}}
<form class="search-sm py-1 border-top border-1" role="search" method="get">
  <div class="container-fluid d-flex search-box">
    <input class="form-control" type="search" placeholder="ابحث هنا" aria-label="Search">
    <button class="btn" type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</form>
{{!-- end search box --}}

{{!-- start utilities / product sections --}}
<div class="utilities-nowrap">
  <ul class="nav p-0">
    <li class="nav-item">
      <a class="nav-link text-nowrap" href="/">هواتف ذكية</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/">حاسوب</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-nowrap" href="/">لاب تب</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">إكسسوارات</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">شبكات</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-nowrap" href="/">سوفت وير</a>
    </li>
  </ul>
</div>
{{!-- end utilities / product sections --}}