{{!-- start header (control-bar) --}}
<header class="control-nav pb-1">
  <div class="container-xxl">
    <div class="nav-style-between">
      <ul class="nav pe-0">
        <li class="nav-item">
          <a class="nav-link active" href="/">
            <i class="fa-solid fa-house"></i>
            الصفحة الرئيسية
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fa-solid fa-user"></i>
            حسابي الشخصي
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fa-solid fa-cart-shopping"></i>
            عربة التسوق
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fa-regular fa-square-check"></i>
            الدفع
          </a>
        </li>
      </ul>
      <div class="dropdown">
        <button class="btn border-0 dropdown-toggle bg-white d-flex align-items-center" type="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/images/egypt.svg" alt="arabic" style="width: 20px;">
          <span class="language text-capitalize">عربي</span>
          <span class="arrow-down"><i class="fa-solid fa-chevron-down"></i></span>
        </button>
        <ul class="dropdown-menu">
          <li><a id="ar" class="dropdown-item d-flex align-items-center" href="/">
              <img src="/images/egypt.svg" alt="arabic" style="width: 20px;">
              <span class="text-capitalize">عربي</span>
            </a></li>
          <li><a id="en" class="dropdown-item d-flex align-items-center" href="/">
              <img src="/images/united.svg" alt="english" style="width: 20px;">
              <span class="text-capitalize">إنجليزي</span>
            </a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
{{!-- end header (control-bar) --}}

{{!-- start logo bar and registration --}}
<div class="logo-bar">
  {{!-- <img src="/images/albayie-logo.svg" alt="albayie-logo"> --}}
</div>
{{!-- end logo bar and registration --}}

{{!-- start navigation / product bar --}}
<nav class="nav-bar">

</nav>
{{!-- end navigation / product bar --}}