body {
  font-family: 'Noto Sans Arabic', sans-serif;
}

/* start header control nav style*/
.control-nav .dropdown .dropdown-toggle .language {
  margin: 0 19px;
}

.control-nav .dropdown .dropdown-menu .dropdown-item span {
  margin-right: 20px;
}

/* end header control nav style*/