:root {
  --primary: #709b1d;
  --secondary: #83b228;
  --dark-green: #4b6e08;
  --gray: #333;
  --light-gray: #999;
  --hover-light: #f9faf8;
  --bg-light: #f3f3f3;
  --bg-light-gray: #e0e0e0;
  --border-red: #b02a37;
  --font-size-light: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/*start header file style*/
/* start header control nav style*/
.control-nav {
  background-color: var(--primary);
  font-size: var(--font-size-light);
}

.nav-style-between {
  display: flex;
  justify-content: space-between;
}

.control-nav .nav li a {
  color: #fff;
  text-transform: capitalize;
}

.control-nav .nav li a.active {
  background-color: #fff;
}

.control-nav .nav li a.active,
.control-nav .dropdown .dropdown-toggle {
  color: var(--primary);
  border-radius: 0 0 5px 5px;
}

.control-nav .dropdown .dropdown-toggle::after {
  display: none;
}

.control-nav .dropdown .dropdown-toggle:hover {
  color: var(--primary);
}

.control-nav .dropdown .dropdown-menu {
  min-width: 130px;
}

.dropdown-item:hover {
  background-color: var(--hover-light);
}

/* end header  control nav style*/

/* start logo navbar style */
.navbar .navbar-brand .logo-img {
  width: 60px;
}

.navbar .navbar-options .registration .login,
.navbar .navbar-options .registration .register,
.navbar .navbar-options .registration .logout {
  color: var(--primary);
  text-transform: uppercase;
  font-size: var(--font-size-light);
}

.navbar .navbar-options .badges .wish-list,
.navbar .navbar-options .badges .cart {
  margin: 0 10px;
}

.navbar .navbar-options .badges .cart {
  margin-right: 15px;
}

.navbar .navbar-options .badges .wish-list button {
  padding-left: 11px;
  padding-right: 11px;
}

.navbar .navbar-options .badges .cart button {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar .navbar-options .badges>div button i {
  font-size: var(--font-size-light);
}

.navbar .navbar-options .badges>div button,
.navbar .navbar-options .badges>div button span {
  background-color: var(--primary);
  color: #fff;
}

/* end logo navbar style */

/* start utilities / product bar style */

.utilities {
  background-color: var(--bg-light);
  font-size: var(--font-size-light);
}

.utilities .navbar-nav .nav-item a {
  text-transform: uppercase;
  color: var(--primary);
}

.utilities .navbar-nav .nav-item a,
.utilities form.search input[type="search"],
.utilities form.search button[type="submit"] {
  padding: 4px 8px;
}

.utilities .navbar-nav .nav-item a.active {
  background-color: var(--primary);
  color: #fff;
  border-radius: 5px;
}

.utilities form.search input[type="search"] {
  min-width: 250px;
  border-radius: 5px 0 0 5px;
}

.utilities form.search input[type="search"]::placeholder {
  color: var(--light-gray);
  transition: 0.3s;
}

.utilities form.search input[type="search"]:focus {
  box-shadow: none;
  border-color: var(--primary);
}

.utilities form.search input[type="search"]:focus::placeholder {
  opacity: 0;
}

.utilities form.search button[type="submit"] {
  background-color: var(--primary);
  color: #fff;
  border-radius: 0 5px 5px 0;
}

/* end utilities / product bar style */
/*end header file style*/

/* start header-sm file style */
/* start header style */

.header-sm,
.search-sm {
  background-color: var(--primary);
}

.header-sm .navbar-options button,
.header-sm .navbar-options .badges>div button,
.header-sm .navbar-options .badges>div button span {
  background-color: #fff;
  color: var(--primary);
}

/* start sidebar style */

.header-sm .toggle-sidebar {
  background-color: var(--bg-light);
  min-height: 100vh;
  min-width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-sm .toggle-sidebar .sidebar-header {
  background-color: var(--primary);
  color: #fff;
  padding: 8px;
  border-bottom: 1px solid #fff;
}

.header-sm .toggle-sidebar .sidebar-header .dropdown button,
.header-sm .toggle-sidebar .sidebar-header .dropdown .dropdown-menu {
  font-size: var(--font-size-light);
  margin-left: auto;
}

.header-sm .toggle-sidebar .sidebar-header .dropdown button:hover {
  color: #000;
}

.header-sm .toggle-sidebar .sidebar-header .dropdown button::after {
  display: none;
}

.header-sm .toggle-sidebar .sidebar-header .dropdown .dropdown-menu {
  right: 0;
  min-width: 122px;
  margin-top: 1px;
}

.header-sm .toggle-sidebar .sidebar-header .dropdown .dropdown-menu.active {
  display: block;
}

.header-sm .toggle-sidebar .sidebar-header h1 {
  margin: 20px 0 5px;
  text-transform: capitalize;
}

.header-sm .toggle-sidebar .navbar-nav a {
  color: var(--primary);
  text-transform: capitalize;
}

.header-sm .toggle-sidebar .navbar-nav a.active {
  background-color: var(--primary);
  color: #fff;
}

.header-sm .toggle-sidebar .registration {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.header-sm .toggle-sidebar .registration .login,
.header-sm .toggle-sidebar .registration .register,
.header-sm .toggle-sidebar .registration .logout {
  font-size: var(--font-size-light);
  color: var(--primary);
  text-transform: uppercase;
}

/* end sidebar style */
/* end header style */

/* start search box style */

.search-sm .search-box input[type="search"] {
  border-radius: 5px 0 0 5px;
}

.search-sm .search-box input[type="search"]::placeholder {
  transition: 0.3s;
  color: var(--light-gray);
}

.search-sm .search-box input[type="search"]:focus {
  box-shadow: none;
  border-color: #fff;
}

.search-sm .search-box input[type="search"]:focus::placeholder {
  opacity: 0;
}

.search-sm .search-box button[type="submit"] {
  background-color: #fff;
  color: var(--primary);
  border-radius: 0 5px 5px 0;
  border-left: 2px solid var(--primary);
}

/* end search box style */

/* start utilities / product sections style */
.utilities-nowrap {
  background-color: var(--bg-light);
  padding: 6px;
}

.utilities-nowrap .nav {
  flex-wrap: nowrap;
  overflow-x: auto;

}

.utilities-nowrap .nav::-webkit-scrollbar-track,
.utilities-nowrap .nav::-webkit-scrollbar {
  display: none;
}

.utilities-nowrap .nav li a {
  font-size: var(--font-size-light);
  text-transform: uppercase;
  color: var(--primary);
  padding: 4px 8px;
}

.utilities-nowrap .nav li a.active {
  background-color: var(--primary);
  border-radius: 5px;
  color: #fff;
}

/* end utilities / product sections style */
/* end header-sm file style */

/* start carousel file style */
.carousel .carousel-indicators {
  margin-bottom: 10px;
}

.carousel .carousel-indicators button {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.carousel .carousel-inner .carousel-item {
  height: 350px;
}

.carousel .carousel-control-prev span,
.carousel .carousel-control-next span {
  width: 50px;
  height: 100px;
}

@media (min-width: 576px) {

  .carousel .carousel-control-prev,
  .carousel .carousel-control-next {
    width: 80px;
  }
}

/* end carousel file style */

/* start promise file style */

.our-promise {
  background-color: var(--primary);
}

.our-promise .promise-box {
  background-color: var(--secondary);
  color: #fff;
  border-radius: 5px;
}

.our-promise .promise-box h6 {
  text-transform: capitalize;
}

.our-promise .promise-box p {
  color: #000;
  font-size: var(--font-size-light);
  text-transform: capitalize;
}

/* end promise file style */

/* start brand file style */

.our-brand .brand-heading {
  padding: 5px 10px;
  color: #fff;
  background-color: var(--primary);
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0 auto;
  width: fit-content;
}

.our-brand .brands>div {
  text-align: center;
}

.our-brand .brands img {
  width: 100px;
  height: 40px;
}

/* end brand file style */

/* start footer file style */
/* start quick-access style */
.footer .quick-access {
  background-color: var(--bg-light);
  overflow-x: hidden;
}

.footer .quick-access .access-box h5 {
  text-transform: uppercase;
  color: var(--primary);
}

.footer .quick-access .access-box hr {
  height: 2px;
  background-color: #000;
}

.footer .quick-access .access-links:not(.contact-box ul) li {
  position: relative;
  padding-left: 16px;
}

.footer .quick-access .access-links:not(.contact-box ul) li::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000;
}

.footer .quick-access .access-box .access-links a {
  font-size: var(--font-size-light);
  text-transform: uppercase;
}

.footer .quick-access .access-box .access-links a:hover {
  color: var(--primary);
}

.footer .quick-access .contact-box .access-links a i {
  color: var(--gray);
}

.footer .quick-access .contact-box .access-links a span {
  display: inline-block;
  margin-left: 12px;
}

/* end quick-access style */

/* start pay ways and social media access */
.footer .accessability {
  background-color: var(--bg-light-gray);
  padding: 10px 0;
}

.footer .accessability .pay-access,
.footer .accessability .social-access {
  flex: 1;
  justify-content: start;
}

.footer .accessability .pay-access {
  margin-bottom: 10px;
}

.footer .accessability .pay-access h6 a,
.footer .accessability .social-access h6 a {
  text-transform: uppercase;
  background-color: var(--primary);
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

.footer .accessability .pay-access .pay-ways li img,
.footer .accessability .social-access .social-accounts li img {
  width: 50px;
  height: 30px;
  margin-left: 10px;
}

@media (min-width: 576px) {
  .footer .accessability .pay-access {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {

  .footer .accessability .pay-access,
  .footer .accessability .social-access {
    justify-content: center;
  }
}

/* end pay ways and social media access */

/* start copyright */

.footer .license {
  background-color: var(--primary);
  color: #fff;
}

.footer .license .copyright {
  padding: 13px 0;
}

/* end copyright */
/* end footer file style */

/* start register file style */
/* start register header style */

.register-header .homeLink img {
  width: 60px;
}

/* end register header style */
/* start register content style */

.register-content {
  border-radius: 5px;
}

.register-content h4 {
  text-transform: capitalize;
  text-align: center;
  color: var(--primary);
}

.register-content p {
  font-size: var(--font-size-light);
  text-align: center;
}

.register-content .register-form input {
  box-shadow: none;
}

.register-content .register-form input::placeholder {
  font-size: var(--font-size-light);
  transition: 0.3s;
}

.register-content .register-form input.border-color {
  border-color: var(--primary);
}

.register-content .register-form input:focus {
  border-color: #dee2d6;
}

.register-content .register-form input:focus::placeholder {
  opacity: 0;
}

.register-content .register-form input.border-color:focus {
  border-color: var(--primary);
}

.register-content .register-form .phone-number span {
  border-radius: 6px 0 0 6px;
}

.register-content .register-form .phone-number input {
  border-radius: 0 6px 6px 0;
}

.register-content .register-form input[type="checkbox"] {
  margin-top: 0.35em;
}

.register-content .register-form input[type="checkbox"]:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.register-content .register-form input[type="checkbox"]+label {
  font-size: var(--font-size-light);
}

.register-content .register-form input[type="checkbox"]+label a {
  color: var(--primary);
}

.register-content .register-form button,
.register-content .register-form button:hover,
.register-content .register-form button:focus {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #fff;
  border-radius: 5px;
}

.register-content .register-form .fName-message,
.register-content .register-form .lName-message,
.register-content .register-form .phoneNum-message,
.register-content .register-form .email-message,
.register-content .register-form .passOne-message,
.register-content .register-form .passTwo-message,
.register-content .register-form .check-message {
  font-size: var(--font-size-light);
}

@media (min-width: 576px) {
  .register-content {
    max-width: 400px;
    margin: 0 auto;
  }
}

/* end register content style */
/* start register footer style */

.register-footer {
  background-color: var(--primary);
  color: #fff;
}

.register-footer p {
  font-size: var(--font-size-light);
}

/* end register footer style */
/* end register file style */