:root {
  --primary: #709b1d;
  --secondary: #83b228;
  --hover-dropdown-item: #f9faf8;
  --font-size-light: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* start header control nav style*/
.control-nav {
  background-color: var(--primary);
  font-size: var(--font-size-light);
}

.nav-style-between {
  display: flex;
  justify-content: space-between;
}

.control-nav .nav li a {
  color: #fff;
  text-transform: capitalize;
}

.control-nav .nav li a.active {
  background-color: #fff;
}

.control-nav .nav li a.active,
.control-nav .dropdown .dropdown-toggle {
  color: var(--primary);
  border-radius: 0 0 5px 5px;
}

.control-nav .dropdown .dropdown-toggle::after {
  display: none;
}

.control-nav .dropdown .dropdown-toggle:hover {
  color: var(--primary);
}

.control-nav .dropdown .dropdown-menu {
  min-width: 130px;
}

.dropdown-item:hover {
  background-color: var(--hover-dropdown-item);
}

/* end header  control nav style*/

/* start logo navbar style */
.navbar .navbar-brand .logo-img {
  width: 60px;
}

.navbar .navbar-options .registration .login,
.navbar .navbar-options .registration .register {
  color: var(--primary);
  text-transform: uppercase;
  font-size: var(--font-size-light);
}

.navbar .navbar-options .badges .wish-list,
.navbar .navbar-options .badges .cart {
  margin: 0 10px;
}

.navbar .navbar-options .badges .cart {
  margin-right: 15px;
}

.navbar .navbar-options .badges .wish-list button {
  padding-left: 11px;
  padding-right: 11px;
}

.navbar .navbar-options .badges .cart button {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar .navbar-options .badges>div button i {
  font-size: var(--font-size-light);
}

.navbar .navbar-options .badges>div button,
.navbar .navbar-options .badges>div button span {
  background-color: var(--primary);
  color: #fff;
}

/* end logo navbar style */