body {
  font-family: 'Noto Sans Arabic', sans-serif;
}

/* start header control nav style*/

.control-nav .dropdown .dropdown-toggle .language {
  margin: 0 19px;
}

.control-nav .dropdown .dropdown-menu .dropdown-item span {
  margin-right: 20px;
}

/* end header control nav style*/

/* start logo navbar style */

.navbar .navbar-options .badges .cart {
  margin-left: 15px;
  margin-right: 10px;
}

/* end logo navbar style */

/* start utilities / product bar style */

.utilities form.search input[type="search"] {
  border-radius: 0 5px 5px 0;
}

.utilities form.search button[type="submit"] {
  border-radius: 5px 0 0 5px;
}

/* end utilities / product bar style */