body {
  font-family: 'Noto Sans Arabic', sans-serif;
}

/*start header file style*/
/* start header control nav style*/

.control-nav .dropdown .dropdown-toggle .language {
  margin: 0 19px;
}

.control-nav .dropdown .dropdown-menu .dropdown-item span {
  margin-right: 20px;
}

/* end header control nav style*/

/* start logo navbar style */

.navbar .navbar-options .badges .cart {
  margin-left: 15px;
  margin-right: 10px;
}

/* end logo navbar style */

/* start utilities / product bar style */

/* start search box style in header-sm file*/

.utilities form.search input[type="search"],
.search-sm .search-box input[type="search"] {
  border-radius: 0 5px 5px 0;
}

.utilities form.search button[type="submit"],
.search-sm .search-box button[type="submit"] {
  border-radius: 5px 0 0 5px;
}

/* end search box style in header-sm file*/

/* end utilities / product bar style */
/*end header file style*/

/* start header-sm file style */

/* start sidebar style */

.header-sm .toggle-sidebar .sidebar-header .dropdown button {
  margin-right: auto;
  margin-left: 0;
}

.header-sm .toggle-sidebar .sidebar-header .dropdown .dropdown-menu {
  right: auto;
  left: 0;
  min-width: 118px;
}

.header-sm .toggle-sidebar {
  right: 0;
  left: auto;
}

.header-sm .toggle-sidebar .registration {
  right: 8px;
}

/* end sidebar style */

/* start search box style in header-sm file*/

.search-sm .search-box button[type="submit"] {
  border-right: 2px solid var(--primary);
  border-left: 1px solid #fff;
}

/* end search box style in header-sm file*/
/* end header-sm file style */

/* start footer file style */

/* start quick-access style */
.footer .quick-access .access-links:not(.contact-box ul) li {
  padding-right: 16px;
  padding-left: 0;
}

.footer .quick-access .access-links:not(.contact-box ul) li::after {
  right: 0;
  border-right: 5px solid #000;
  border-left-color: transparent;
}

.footer .quick-access .contact-box .access-links li:first-child span {
  direction: ltr;
}

.footer .quick-access .contact-box .access-links a span {
  margin-right: 12px;
  margin-left: 0;
}

/* end quick-access style */

/* start pay ways and social media access */
.footer .accessability .pay-access h6 a,
.footer .accessability .social-access h6 a {
  padding: 0 10px;
}

.footer .accessability .pay-access .pay-ways li img,
.footer .accessability .social-access .social-accounts li img {
  margin-right: 10px;
  margin-left: 0;
}

/* end pay ways and social media access */
/* end footer file style */

/* start register file style */
/* start register content style */

.register-content .register-form input[type="checkbox"] {
  float: right;
  margin-left: 0.5em;
}

/* end register content style */
/* end register file style */