* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #709b1d;
  --secondary: #83b228;
}

html {
  font-size: 62.5%;
  /* 16 * 62.5 / 100 = 10 */
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}