{{!-- start our brand file --}}
<div class="our-brand py-4">
  <div class="container-xxl">
    <h4 class="brand-heading mb-4 fw-normal">our brand</h4>
    <div class="brands row">
      <div class="col-4 col-md-2 mb-3 mb-md-0">
        <img src="/images/brand01.png" alt="...">
      </div>
      <div class="col-4 col-md-2 mb-3 mb-md-0">
        <img src="/images/brand02.png" alt="...">
      </div>
      <div class="col-4 col-md-2 mb-3 mb-md-0">
        <img src="/images/brand03.png" alt="...">
      </div>
      <div class="col-4 col-md-2">
        <img src="/images/brand04.png" alt="...">
      </div>
      <div class="col-4 col-md-2">
        <img src="/images/brand05.png" alt="...">
      </div>
      <div class="col-4 col-md-2">
        <img src="/images/brand06.png" alt="...">
      </div>
    </div>
  </div>
</div>
{{!-- end our brand file --}}