{{!-- start the profile change password and reading --}}

<section class="profile-info py-4">
  <header class="profile-header px-2">
    <h1 class="m-0 p-0 text-capitalize fs-2">change password</h1>
    <hr class="border-1 m-0">
  </header>
  <div class="profile px-2">

    {{!-- start with profile change password --}}

    {{!-- change password form --}}
    <form id="profile-password" class="user-data-form pt-4" action="{{data.user._id}}/newPass" method="post">
      <div class="mb-3">
        <label for="exampleInputCurrentPassword" class="form-label">
          Current password
        </label>
        <input type="password" class="form-control shadow-none" id="exampleInputCurrentPassword" name="currentPassword"
          placeholder="Must add current password.">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">
          New password
        </label>
        <input type="password" class="form-control shadow-none" id="exampleInputPassword1" name="newPassword"
          placeholder="Must be 8-20 characters long.">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label">
          Re-enter password
        </label>
        <input type="password" class="form-control shadow-none" id="exampleInputPassword2">
      </div>
      <p class="p-0 mb-3 {{#unless message}} d-none {{/unless}} text-danger">
        {{message}}
      </p>
      <button id="save-edit-password" type="submit" class="btn text-nowrap px-4 border-0">
        Change Password
      </button>
    </form>

    {{!-- end with profile change password --}}
  </div>
</section>

{{!-- end the profile change password and reading --}}