{{!-- start footer --}}
<footer class="footer d-flex flex-column">

  {{!-- start quick-access links --}}
  <div class="quick-access pt-5 pb-4">
    <div class="container-lg row mx-auto">
      <div class="access-box info-box col-6 col-sm-3">
        <h5 class="box-heading m-0">information</h5>
        <hr class="border-0 mt-1">
        <ul class="access-links list-unstyled ps-0 m-0">
          <li class="access-item">
            <a href="/en" class="access-link">about us</a>
          </li>
          <li class="access-item">
            <a href="/en" class="access-link">customer service</a>
          </li>
          <li class="access-item">
            <a href="/en" class="access-link">privacy policy</a>
          </li>
          <li class="access-item">
            <a href="/en" class="access-link">contact</a>
          </li>
        </ul>
      </div>
      <div class="access-box why-box col-6 col-sm-3">
        <h5 class="box-heading m-0 text-nowrap">why choose us</h5>
        <hr class="border-0 mt-1">
        <ul class="access-links list-unstyled ps-0 m-0">
          <li class="access-item">
            <a href="/en" class="access-link">about us</a>
          </li>
          <li class="access-item">
            <a href="/en" class="access-link">shipping &amp; returns</a>
          </li>
        </ul>
      </div>
      <div class="access-box account-box col-6 col-sm-3">
        <h5 class="box-heading m-0">my account</h5>
        <hr class="border-0 mt-1">
        <ul class="access-links list-unstyled ps-0 m-0">
          <li class="access-item">
            <a href="/en" class="access-link">sign in</a>
          </li>
          <li class="access-item">
            <a href="/en" class="access-link">view cart</a>
          </li>
          <li class="access-item">
            <a href="/en" class="access-link">my wishlist</a>
          </li>
          <li class="access-item">
            <a href="/en" class="access-link">help</a>
          </li>
        </ul>
      </div>
      <div class="access-box contact-box col-6 col-sm-3">
        <h5 class="box-heading m-0">contact</h5>
        <hr class="border-0 mt-1">
        <ul class="access-links list-unstyled ps-0 m-0">
          <li class="access-item">
            <a href="tel:+201170112482" class="access-link text-nowrap">
              <i class="fa-solid fa-mobile-screen-button"></i>
              <span class="phone-number">+20 1170112482</span>
            </a>
          </li>
          <li class="access-item">
            <a href="mailto:company@gmail.com" class="access-link text-lowercase text-nowrap">
              <i class="fa-solid fa-envelope"></i>
              <span class="e-mail">company@gmail.com</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{!-- end quick-access links --}}

  {{!-- start pay ways and social media access --}}
  <div class="accessability">
    <div class="container-lg row mx-auto">
      <div class="pay-access col-md-6 d-flex align-items-center">
        <h6 class="pay-heading m-0 fw-normal">
          <a href="/en" class="text-nowrap">we accept</a>
        </h6>
        <ul class="pay-ways list-unstyled d-flex align-items-center m-0 p-0">
          <li class="pay-item">
            <a href="/en" class="pay-link">
              <img src="/images/paypal.png" alt="paypal">
            </a>
          </li>
          <li class="pay-item">
            <a href="/en" class="pay-link">
              <img src="/images/visa.png" alt="visa">
            </a>
          </li>
          <li class="pay-item">
            <a href="/en" class="pay-link">
              <img src="/images/mastercard.png" alt="mastercard">
            </a>
          </li>
        </ul>
      </div>
      <div class="social-access col-md-6 d-flex align-items-center">
        <h6 class="social-heading m-0 fw-normal">
          <a href="/en" class="text-nowrap">follow us</a>
        </h6>
        <ul class="social-accounts list-unstyled d-flex align-items-center m-0 p-0">
          <li class="pay-item">
            <a href="/en" class="social-link">
              <img src="/images/facebook.png" alt="facebook">
            </a>
          </li>
          <li class="pay-item">
            <a href="/en" class="social-link">
              <img src="/images/gmail.png" alt="gmail">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{!-- end pay ways and social media access --}}

  {{!-- start copyright --}}
  <div class="license text-center fs-5">
    <p class="copyright m-0">&copy;Copyright by: Albayie&trade;</p>
  </div>
  {{!-- end copyright --}}
</footer>
{{!-- end footer --}}