{{!-- start our promise file --}}
<div class="our-promise pt-2 py-lg-2">
  <div class="container-xxl row mx-auto justify-content-center justify-content-lg-start">
    <div class="col-sm-6 col-lg-3">
      <div class="promise-box p-2 d-flex align-items-center mb-2 mb-lg-0">
        <div class="promise-icon fs-2 me-3">
          <i class="fa-regular fa-paper-plane"></i>
        </div>
        <div class="promise-text">
          <h6 class="mb-1 fw-normal">first shipping</h6>
          <p class="m-0">get you everywhere</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="promise-box p-2 d-flex align-items-center mb-2 mb-lg-0">
        <div class="promise-icon fs-2 me-3">
          <i class="fa-solid fa-lock"></i>
        </div>
        <div class="promise-text">
          <h6 class="mb-1 fw-normal">secure store</h6>
          <p class="m-0">100% secure store</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="promise-box p-2 d-flex align-items-center mb-2 mb-lg-0">
        <div class="promise-icon fs-2 me-3">
          <i class="fa-regular fa-clock"></i>
        </div>
        <div class="promise-text">
          <h6 class="mb-1 fw-normal">save time</h6>
          <p class="m-0">save your time</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="promise-box p-2 d-flex align-items-center mb-2 mb-lg-0">
        <div class="promise-icon fs-2 me-3">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <div class="promise-text">
          <h6 class="mb-1 fw-normal">pay on delivery</h6>
          <p class="m-0">check your buy well</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- end our promise file --}}