{{>pageHead.rtl}}
{{!-- start header --}}
<div id="wide-appearance">{{>ar/header.ar}}</div>
<div id="small-appearance">{{>ar/header.sm.ar}}</div>
{{!-- end header --}}
<div class="container-xxl">
  {{!-- start general settings for account page --}}
  <div class="row justify-content-between g-0 my-account">
    <div class="col col-md-8 col-lg-9">
      {{>ar/changeInfo.ar}}
      {{>ar/changePassword.ar}}
      {{>ar/block.ar}}
      {{>ar/deleteAccount.ar}}
    </div>
    {{#if smallScreen}}
    <div class="ads-column d-none col-md-4 d-md-flex flex-column py-4 px-3">
      <div class="border border-1 d-flex align-items-center justify-content-center">
        اعلان
      </div>
      <div class="border d-flex align-items-center justify-content-center">
        اعلان
      </div>
      <div class="border d-flex align-items-center justify-content-center">
        اعلان
      </div>
      <div class="border d-flex align-items-center justify-content-center">
        اعلان
      </div>
    </div>
    {{else}}
    <div class="account-quick-access d-none col-md-3 d-md-flex flex-column py-4 mt-1 ps-3 align-items-end">
      <article class="account-links mb-4">
        <h3 class="mt-0 mb-3 p-2 text-uppercase fs-6 fw-normal text-white">
          معلومات عامة
        </h3>
        <ul class="m-0 p-0 list-unstyled">
          <li class="ms-4 mb-1">
            <a id="profile-pic" class="text-uppercase" role="button">الصورة الشخصية</a>
          </li>
          <li class="ms-4 mb-1">
            <a id="profile-info" class="text-uppercase" role="button">المعلومات</a>
          </li>
          <li class="ms-4 mb-1">
            <a id="profile-pass" class="text-uppercase" role="button">تغيير الرقم السري</a>
          </li>
          <li class="ms-4 mb-1">
            <a id="profile-block" class="text-uppercase" role="button">الحظر والتحذيرات</a>
          </li>
          <li class="ms-4 mb-1">
            <a id="profile-del" class="text-uppercase" role="button">حذف الحساب</a>
          </li>
          <li class="ms-4 mb-1">
            <a class="text-uppercase" href="/ar/logout">سجل الخروج</a>
          </li>
        </ul>
      </article>
      <article class="account-links mb-4">
        <h3 class="mt-0 mb-3 p-2 text-uppercase fs-6 fw-normal text-white">
          قائمة الأمنيات
        </h3>
        <ul class="m-0 p-0 list-unstyled">
          <li class="ms-4 mb-1">
            <a id="" class="text-uppercase" href="">اذهب لقائمة الأمنيات</a>
          </li>
        </ul>
      </article>
      <article class="account-links mb-4">
        <h3 class="mt-0 mb-3 p-2 text-uppercase fs-6 fw-normal text-white">
          عربة التسوق
        </h3>
        <ul class="m-0 p-0 list-unstyled">
          <li class="ms-4 mb-1">
            <a id="" class="text-uppercase" href="">اذهب لعربتي</a>
          </li>
        </ul>
      </article>
      <article class="account-links mb-4">
        <h3 class="mt-0 mb-3 p-2 text-uppercase fs-6 fw-normal text-white">
          الطلبات
        </h3>
        <ul class="m-0 p-0 list-unstyled">
          <li class="ms-4 mb-1">
            <a id="" class="text-uppercase" href="">في الإنتظار</a>
          </li>
          <li class="ms-4 mb-1">
            <a id="" class="text-uppercase" href="">تم التوصيل</a>
          </li>
          <li class="ms-4 mb-1">
            <a id="" class="text-uppercase" href="">الطلبات الملغاه</a>
          </li>
          <li class="ms-4 mb-1">
            <a id="" class="text-uppercase" href="">منتجات استرجعت</a>
          </li>
        </ul>
      </article>
      <article class="account-links mb-4">
        <h3 class="mt-0 mb-3 p-2 text-uppercase fs-6 fw-normal text-white">
          سجل النشاط
        </h3>
        <ul class="m-0 p-0 list-unstyled">
          <li class="ms-4 mb-1">
            <a id="" class="text-uppercase" href="">تعليقاتي</a>
          </li>
          <li class="ms-4 mb-1">
            <a id="" class="text-uppercase" href="">منتجات قيمتها</a>
          </li>
          <li class="ms-4 mb-1">
            <a id="" class="text-uppercase" href="">البلاغات</a>
          </li>
        </ul>
      </article>
      <div class="ads border border-1 d-flex align-items-center justify-content-center">
        اعلان
      </div>
      <div class="ads border d-flex align-items-center justify-content-center">
        اعلان
      </div>
    </div>
    {{/if}}
  </div>
  {{!-- end general settings for account page --}}
</div>
{{>ar/footer.ar}}
{{>pageFoot}}