{{>pageHead.rtl}}

<div class="error-404 text-center">
  <p class="error-message alert alert-danger rounded-0 text-capitalize">الصفحة غير موجودة</p>
  <h1 class="error-heading text-black-50 display-1 my-5 text-center">
    <img src="/images/error-404.svg" alt="404" style="width:350px">
  </h1>
  <a href="/ar" class="btn btn-success text-capitalize">الصفحة الرئيسية</a>
</div>

{{>pageFoot}}