{{>pageHead.rtl}}
{{!-- start register (first-name, last-name, e-mail, phone number, password) --}}
<main class="register">

  {{!-- start register form --}}
  <section class="register-form">
    <div class="container-md">

    </div>
  </section>
  {{!-- end register form --}}

  {{!-- start register footer --}}
  <footer class="register-footer">
    <div class="container-md"></div>
  </footer>
  {{!-- end register footer --}}

</main>
{{!-- end register (first-name, last-name, e-mail, phone number, password) --}}
{{>pageFoot}}