{{>pageHead}}
{{!-- start header --}}
<div id="wide-appearance">{{>en/header}}</div>
<div id="small-appearance">{{>en/header.sm}}</div>
{{!-- end header --}}
{{!-- start general settings for account page --}}

{{!-- end general settings for account page --}}
{{>en/footer}}
{{>pageFoot}}