{{>pageHead}}

<div class="container-xxl px-0 px-xxl-3">
  <main class="dashboard-layout">
    <div class="row">
      <div class="col-4 col-sm-3 col-md-2 col-lg-3 pe-0 d-lg-block">
        {{!-- start dashboard sidebar file --}}
        <aside class="dashboard-sidebar px-3">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-center p-0" href="/">
                <img class="logo" src="/images/logo_white.png" alt="site-logo">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center p-0 active" href="/en/dash-board">
                <i class="fa-solid fa-gauge-high"></i>
                <span class="d-lg-inline-block d-block">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a id="sidebar-users-button" class="nav-link text-center p-0" role="button">
                <i class="fa-solid fa-users"></i>
                <span class="d-lg-inline-block d-block">Users</span>
              </a>
              <div id="management" class="management py-2">
                <h5 class="management-header py-2 px-3 m-0">
                  users management:
                </h5>
                <a class="management-item py-2 px-3" href="/en/dash-board">
                  Overview
                </a>
                <a class="management-item py-2 px-3" href="/en/dash-board">
                  Create User
                </a>
                <a class="management-item py-2 px-3" href="/en/dash-board">
                  Users Tables
                </a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center p-0" href="/en/dash-board">
                <i class="fa-solid fa-dolly"></i>
                <span class="d-lg-inline-block d-block">Products</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center p-0" href="/en/dash-board">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="d-lg-inline-block d-block">Orders</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center p-0" href="/en/dash-board">
                <i class="fa-solid fa-sack-dollar"></i>
                <span class="d-lg-inline-block d-block">Income</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center p-0" href="/en/dash-board">
                <i class="fa-solid fa-message"></i>
                <span class="d-block d-lg-inline-block">Messages</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center p-0" href="/en/dash-board">
                <i class="fa-solid fa-bug"></i>
                <span class="d-lg-inline-block d-block">Reports</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center p-0" href="/en/dash-board">
                <i class="fa-solid fa-gear"></i>
                <span class="d-lg-inline-block d-block">Settings</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center p-0" href="/en/dash-board">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span class="d-lg-inline-block d-block">Logout</span>
              </a>
            </li>
          </ul>
          <div class="d-none d-lg-block text-center py-4 shrink-sidebar">
            <button id="shrink-toggler" class="shrink-toggler btn" type="button">
              <i class="fa-solid fa-chevron-left"></i>
            </button>
          </div>
        </aside>

        {{!-- end dashboard sidebar file --}}


        {{!-- {{>en/dashboard.sidebar}} --}}
      </div>
      <div class="col-8 col-sm-9 col-md-10 col-lg-9 px-0 position-relative">
        {{!-- start dashboard header file --}}
        <header class="dashboard-header">
          <ul class="dashboard-nav navbar shadow list-unstyled mb-4 flex-nowrap px-md-3">
            <li class="nav-item me-auto me-sm-2 d-md-none">
              <button id="sidebar-toggler" class="sidebar-toggler btn py-2" type="button">
                <i class="fa-solid fa-bars"></i>
              </button>
            </li>
            <li class="nav-item flex-sm-grow-1">
              <button id="search-toggler" class="search-toggler btn py-2 d-sm-none" type="button">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
              <form id="search-box" class="search-box d-none d-sm-flex align-items-center" method="get">
                <input class="search-input form-control shadow-none" type="search" class="search" placeholder="Search">
                <button class="btn-search" type="submit">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </form>
            </li>
            <li class="nav-item">
              <button class="notification-toggler btn py-2 position-relative" type="button">
                <span
                  class="notify-alert position-absolute end-0 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                <i class="fa-solid fa-bell"></i>
              </button>
            </li>
            <li class="nav-item">
              <button id="message-toggler" class="message-toggler btn py-2 position-relative" type="button">
                <span
                  class="notify-alert position-absolute end-0 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                <i class="fa-solid fa-message"></i>
              </button>
              <ul id="dropdown-messages"
                class="dropdown-messages list-unstyled position-absolute p-0 m-0 overflow-hidden">
                <li class="dropdown-header">
                  <h5 class="m-0">message center</h5>
                </li>
                <li class="dropdown-message">
                  <a href="/en/dash-board">
                    <div class="profile-img">
                      <img src="/images/profile-picture.svg" alt="profile-picture"
                        style="width: 40px; border-radius: 50%">
                    </div>
                    <div class="profile-details ms-3">
                      <p class="message m-0">Hi There! It's Alrewany</p>
                      <p class="details m-0">
                        <span class="profile-name">Ismail Alrewany</span>
                        .
                        <span class="time">45m</span>
                      </p>
                    </div>
                  </a>
                </li>
                <li class="dropdown-footer text-center">
                  <a class="" href="/en/dash-board">
                    read more messages
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item d-none d-md-block">
              <div class="separate-line"></div>
            </li>
            <li class="nav-item">
              <button class="profile-toggler btn p-2 dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span class="d-none d-lg-inline-block me-1">Ismail Alrewany</span>
                <img src="/images/profile-picture.svg" alt="profile-pic" style="width: 30px; border-radius: 50%">
              </button>
              <ul class="dropdown-menu border-0 shadow">
                <li>
                  <a class="dropdown-item px-4 d-flex align-items-center" href="/en/dash-board">
                    <i class="fa-solid fa-house"></i>
                    <span class="ms-3">Albayie</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item px-4 d-flex align-items-center" href="/en/dash-board">
                    <i class="fa-solid fa-user"></i>
                    <span class="ms-3">Profile</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item px-4 d-flex align-items-center" href="/en/dash-board">
                    <i class="fa-solid fa-gear"></i>
                    <span class="ms-3">Settings</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item px-4 d-flex align-items-center" href="/en/dash-board">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span class="ms-3">logout</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </header>
        {{!-- end dashboard header file --}}
        <section class="dashboard-content">Welcome to Dashboard</section>
        <footer class="dashboard-footer text-center">
          <p class="copyright m-0">&copy;Copyright by: Albayie&trade;</p>
        </footer>
      </div>
    </div>
  </main>
</div>

{{>pageFoot}}