{{>pageHead}}

<div class="container-xxl px-0 px-xxl-3">
  <main class="dashboard-layout overflow-hidden">
    <div class="row">
      <div class="col-3 col-sm-2 col-lg-3 pe-0">
        <aside class="dashboard-sidebar px-3">Sidebar</aside>
      </div>
      <div class="col-9 col-sm-8 col-lg-9 px-0">
        <header class="dashboard-header">Dashboard</header>
        <section class="dashboard-content">Welcome to Dashboard</section>
        <footer class="dashboard-footer">Footer</footer>
      </div>
    </div>
  </main>
</div>

{{>pageFoot}}