{{>pageHead}}

<div class="container-xxl px-0 px-xxl-3">
  <main class="dashboard-layout">
    <div class="row">
      <div class="sidebar-column col-4 col-sm-3 col-md-2 col-lg-3 pe-0 d-lg-block">
        {{!-- dashboard sidebar --}}
        {{>en/dashboard.sidebar}}
        {{!-- dashboard sidebar --}}
      </div>
      <div class="header-column col-8 col-sm-9 col-md-10 col-lg-9 px-0 position-relative">
        {{!-- dashboard header --}}
        {{>en/dashboard.header}}
        {{!-- dashboard header --}}

        {{!-- dashboard users overview content --}}
        <section class="dashboard-content users-overview px-3">
          <h2 class="overview-heading mb-4 p-0 fs-4 text-capitalize">
            dashboard users
          </h2>
          <div class="row g-0">
            <div class="users-info-box col-md-6 col-xl-3 mb-4 py-2 rounded">
              <div class="row align-items-center g-0">
                <div class="col">
                  <h4 class="mb-1 p-0 text-uppercase">admins</h4>
                  <p class="m-0 p-0 fw-bold fs-4">{{overview.adminsNum}}</p>
                </div>
                <div class="col-auto">
                  <i class="fa-solid fa-user-tie fa-2x"></i>
                </div>
              </div>
            </div>
            <div class="users-info-box col-md-6 col-xl-3 mb-4 py-2 rounded">
              <div class="row align-items-center g-0">
                <div class="col">
                  <h4 class="mb-1 p-0 text-uppercase">customers</h4>
                  <p class="m-0 p-0 fw-bold fs-4">{{overview.customersNum}}</p>
                </div>
                <div class="col-auto">
                  <i class="fa-solid fa-user fa-2x"></i>
                </div>
              </div>
            </div>
            <div class="users-info-box col-md-6 col-xl-3 mb-4 py-2 rounded">
              <div class="row align-items-center g-0">
                <div class="col">
                  <h4 class="mb-1 p-0 text-uppercase">visitors</h4>
                  <p class="m-0 p-0 fw-bold fs-4">{{overview.visitorsNum}}</p>
                </div>
                <div class="col-auto">
                  <i class="fa-solid fa-clock fa-2x"></i>
                </div>
              </div>
            </div>
            <div class="users-info-box col-md-6 col-xl-3 mb-4 py-2 rounded">
              <div class="row align-items-center g-0">
                <div class="col">
                  <h4 class="mb-1 p-0 text-uppercase">pagesViews</h4>
                  <p class="m-0 p-0 fw-bold fs-4">{{overview.pagesViews}}</p>
                </div>
                <div class="col-auto">
                  <i class="fa-solid fa-binoculars fa-2x"></i>
                </div>
              </div>
            </div>
          </div>
        </section>
        {{!-- dashboard users overview content --}}

        {{!-- dashboard footer --}}
        {{>en/dashboard.footer}}
        {{!-- dashboard footer --}}
      </div>
    </div>
  </main>
</div>

{{>pageFoot}}