{{>pageHead}}

<div class="error-404 text-center">
  <p class="error-message alert alert-danger rounded-0 text-capitalize">
    page not found
  </p>
  <h1 class="error-heading text-black-50 display-1 my-5 text-center">
    <img src="/images/error-404.svg" alt="404" style="width:350px">
  </h1>
  <a href="/en" class="btn btn-success text-capitalize">back home</a>
</div>

{{>pageFoot}}