{{!-- start login (e-mail or phone number and password) --}}
{{>pageHead}}

{{!-- start login header --}}
<header class="login-header">
  <div class="container-md text-center py-4">
    <a href="/en" class="homeLink">
      <img src="/images/logo.png" alt="albayie-logo">
    </a>
  </div>
</header>
{{!-- end login header --}}



{{!-- start login footer --}}
<footer class="login-footer text-center py-4">
  <div class="container-xxl">
    <p class="copyright m-0">&copy;Copyright by: Albayie&trade;</p>
  </div>
</footer>
{{!-- end login footer --}}

{{!-- end login (e-mail or phone number and password) --}}
{{>pageFoot}}